@media (min-width: 0px ) and (max-width: 500px){

  * {
    box-sizing: border-box;
  }
  .fa{
    align-self: center;
    display: block;
    color: #365C79;
  }
  .fa-heart-o{
    font-weight: bold;
  }

  .mainContainer {
    /* width: 70%; */
/* margin: 15px auto; */
overflow: hidden;
position: relative;
top: 12px;
display: flex;
flex-flow: column;
/* justify-content: inherit; */
/* align-items: stretch; */
background-color: white;
width:100%;
  }

  header {
    display: flex;
    justify-content: space-around;
    position: fixed;
      background-color: white;
      box-shadow: none;
      border-bottom: 1px solid grey;

    z-index: 10000;
    margin-top: -15px;
height: 73px;
width: 100%;
      .fa{
        display: block;
      }
      h1 {

      }
      h3 {
        display:none;
      }
      form{
        display: none;
      }
      .nav {
        margin: 0;
        padding: 0;
      }
      ul {
        display: none;
      }
      li {
        display: none;
      }
      li:hover {
        background-color: #fff;
        // transform: scale(0.99);
        cursor: pointer;
        color: #aa0000;
      }
      input{
        display: none;
      }
  }

  div.postWrapper {
    width: 111%;
/* position: relative; */
border-bottom: 1px solid lightgrey;
/* margin-bottom: 29px; */
border-bottom: 1px solid #F2F2F2;
margin-bottom: 1%;
/* border-top: 1px solid #F2F2F2; */
background-color: white;
padding-top: 4%;
margin-left: -5.5%;
display: flex;
flex-flow: column;
/* justify-content: flex-start; */
/* align-items: flex-end; */
margin-bottom: 4%;
padding-bottom: 5%;
border-bottom: 1px solid #F2F2F2;
    .click {

      align-self: flex-end;
/* flex: 4; */
margin-right: 7%;
text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
      color: #AA0000;
    }
    img {
      width: 100%;
      box-shadow: none;
// order: 1;
    }
    h1 {
      font-size: 30px;
      display: inline-block;
      width: 100%;
      padding-left: 15px;
      vertical-align: top;
      margin: 0;
      color: #000;
      display: none;
    }
    h6 {
      // align-self: flex-end;
margin-top: -1%;
margin-right: 1%;
position: static;
// display: inline-block;
margin: none;
text-align: none;
float: none;
color: #555;
padding-top: none;
padding-left: none;

    }
    h3 {
      margin-top: 5px;
      color: #000;
      font-weight: 400;
      display: none;

    }
    p{
      display: none;
    }

  }
  div.postWrapper a.headline {
      display: inline-block;
      vertical-align: top;
      font-size: 20px;
      width: 99%;
      padding-left: 15px;
      color: #333;
      font-weight: bold;
      text-decoration: none;
  }
  div.postWrapper .fa-heart-o {
      text-decoration: none;
      color: red;
       position: static;
      /* top: 30px; */
      /* right: 56px; */
      transition: .2s all ease-in-out;
      font-size: 22px;
  }
.inactive{
  display: none;
}
.section{
  /* background-color: blue; */
/* margin-top: -24%; */

}

ul{
  list-style: none;
  position: relative;
  top: 80px;
  display: flex;
  flex-flow: column;
  left: -23px;
  li{
    display: flex;
    display: flex;
padding: 3%;
border-bottom: 1px solid grey;
  i{
    margin-right: 23px;

  }
  }
}

}
