@media (min-width: 1151px) {
  * {
    box-sizing: border-box; }
  .mainContainer {
    width: 100%;
    margin: 15px auto;
    overflow: hidden;
    position: relative;
    top: 300px;
    /* padding: 20px; */
    text-align: center; }
  header {
    position: fixed;
    z-index: 100000;
    margin: -15px auto;
    text-align: center;
    margin-bottom: 75px;
    padding: 0;
    width: 100%;
    background-color: #eee;
    box-shadow: 0px 2px 20px #333; }
    header h1 {
      margin: 0;
      text-align: center;
      font-size: 30px;
      font-family: cursive;
      padding-top: 5px;
      text-shadow: 5px 5px 30px #fff; }
    header h3 {
      text-align: center;
      margin-top: -20px;
      margin-bottom: 0px;
      font-size: 65px;
      font-family: Tahoma;
      padding-bottom: 10px;
      text-shadow: 5px 5px 30px #fff;
      color: #AA0000; }
    header form {
      margin-bottom: 16px; }
    header input {
      outline: none;
      text-align: center;
      width: 30%;
      border-radius: 10px;
      height: 30px; }
    header .nav {
      margin: 0;
      padding: 0; }
    header ul {
      text-align: center; }
    header li {
      display: inline-block;
      margin: 0;
      margin-left: -1px;
      padding: 6px;
      border-top: 1px solid #ccc;
      border-left: 1px solid #ccc;
      border-right: 1px solid #ccc;
      transition: .1s all ease-in-out;
      font-size: 20px;
      width: 15%; }
    header li.highlight {
      background: #fff;
      color: #aa0000; }
    header li:hover {
      background-color: #fff;
      cursor: pointer;
      color: #aa0000; }
  div.postWrapper {
    width: 25%;
    position: relative;
    /* border-bottom: 1px solid lightgrey; */
    margin-bottom: 25px;
    display: inline-block;
    vertical-align: top; }
    div.postWrapper a.headline {
      display: inline-block;
      font-size: 24px;
      width: 90%;
      /* padding-left: 15px; */
      color: #333;
      font-weight: bold;
      text-decoration: none;
      text-align: left; }
    div.postWrapper a.headline:hover {
      text-decoration: underline;
      color: #AA0000; }
    div.postWrapper p {
      /* position: absolute; */
      margin-top: 0px;
      display: inline-block;
      width: 88%;
      text-align: left;
      right: 16%;
      top: 40%;
      font-size: 16px; }
    div.postWrapper img {
      box-shadow: 1px 1px 15px #333;
      width: 95%;
      transition: .2s all ease-in-out; }
    div.postWrapper img:hover {
      transform: scale(0.99);
      box-shadow: none; }
    div.postWrapper h1 {
      font-size: 30px;
      display: inline-block;
      width: 60%;
      padding-left: 15px;
      vertical-align: top;
      margin: 0;
      color: #000; }
    div.postWrapper h6 {
      /* position: absolute; */
      display: none;
      margin: 0;
      text-align: left;
      float: right;
      color: #555;
      padding-top: 8px;
      padding-left: 15px; }
    div.postWrapper h3 {
      display: none;
      margin-top: 5px;
      color: #000;
      font-weight: 400; }
    div.postWrapper .fa-heart-o {
      text-decoration: none;
      color: #000;
      top: 30px;
      right: 56px;
      transition: .2s all ease-in-out; }
    div.postWrapper .fa-heart-o:hover {
      transform: scale(1.4); }
  .heart, .arrow {
    display: none; }
  .inactive {
    display: none; } }

@media (min-width: 801px) and (max-width: 1150px) {
  * {
    box-sizing: border-box; }
  .mainContainer {
    overflow: hidden;
    width: 100%;
    margin: 15px auto;
    position: relative;
    top: 300px;
    /* padding: 20px; */
    text-align: center; }
  header {
    position: fixed;
    margin: -15px auto;
    z-index: 100000;
    text-align: center;
    margin-bottom: 75px;
    padding: 0;
    width: 100%;
    background-color: #eee;
    box-shadow: 0px 2px 20px #333; }
    header h1 {
      margin: 0;
      text-align: center;
      font-size: 30px;
      font-family: cursive;
      padding-top: 5px;
      text-shadow: 5px 5px 30px #fff; }
    header h3 {
      text-align: center;
      margin-top: -20px;
      margin-bottom: 0px;
      font-size: 65px;
      font-family: Tahoma;
      padding-bottom: 10px;
      text-shadow: 5px 5px 30px #fff;
      color: #AA0000; }
    header form {
      margin-bottom: 16px; }
    header input {
      outline: none;
      text-align: center;
      width: 30%;
      border-radius: 10px;
      height: 30px; }
    header .nav {
      margin: 0;
      padding: 0; }
    header ul {
      text-align: center; }
    header li {
      display: inline-block;
      margin: 0;
      margin-left: -1px;
      padding: 6px;
      border-top: 1px solid #ccc;
      border-left: 1px solid #ccc;
      border-right: 1px solid #ccc;
      transition: .1s all ease-in-out;
      font-size: 20px;
      width: 15%; }
    header li.highlight {
      background: #fff;
      color: #aa0000; }
    header li:hover {
      background-color: #fff;
      cursor: pointer;
      color: #aa0000; }
  div.postWrapper {
    width: 33.3%;
    position: relative;
    /* border-bottom: 1px solid lightgrey; */
    margin-bottom: 25px;
    display: inline-block;
    vertical-align: top; }
    div.postWrapper a.headline {
      display: inline-block;
      font-size: 24px;
      width: 90%;
      /* padding-left: 15px; */
      color: #333;
      font-weight: bold;
      text-decoration: none;
      text-align: left; }
    div.postWrapper a.headline:hover {
      text-decoration: underline;
      color: #AA0000; }
    div.postWrapper p {
      /* position: absolute; */
      margin-top: 0px;
      display: inline-block;
      width: 88%;
      text-align: left;
      right: 16%;
      top: 40%;
      font-size: 16px; }
    div.postWrapper img {
      box-shadow: 1px 1px 15px #333;
      width: 95%;
      transition: .2s all ease-in-out; }
    div.postWrapper img:hover {
      transform: scale(0.99);
      box-shadow: none; }
    div.postWrapper h1 {
      font-size: 30px;
      display: inline-block;
      width: 60%;
      padding-left: 15px;
      vertical-align: top;
      margin: 0;
      color: #000; }
    div.postWrapper h6 {
      /* position: absolute; */
      display: none;
      margin: 0;
      text-align: left;
      float: right;
      color: #555;
      padding-top: 8px;
      padding-left: 15px; }
    div.postWrapper h3 {
      display: none;
      margin-top: 5px;
      color: #000;
      font-weight: 400; }
    div.postWrapper .fa-heart-o {
      text-decoration: none;
      color: #000;
      top: 30px;
      right: 56px;
      transition: .2s all ease-in-out; }
    div.postWrapper .fa-heart-o:hover {
      transform: scale(1.4); }
  .heart, .arrow {
    display: none; }
  .inactive {
    display: none; } }

@media (min-width: 501px) and (max-width: 800px) {
  * {
    box-sizing: border-box; }
  .mainContainer {
    width: 100%;
    margin: 15px auto;
    overflow: hidden;
    position: relative;
    top: 350px;
    /* padding: 20px; */
    text-align: center; }
  header {
    position: fixed;
    z-index: 100000;
    margin: -15px auto;
    text-align: center;
    margin-bottom: 75px;
    padding: 0;
    width: 100%;
    background-color: #eee;
    box-shadow: 0px 2px 20px #333; }
    header h1 {
      margin: 0;
      text-align: center;
      font-size: 30px;
      font-family: cursive;
      padding-top: 5px;
      text-shadow: 5px 5px 30px #fff; }
    header h3 {
      text-align: center;
      margin-top: -20px;
      margin-bottom: 0px;
      font-size: 65px;
      font-family: Tahoma;
      padding-bottom: 10px;
      text-shadow: 5px 5px 30px #fff;
      color: #AA0000; }
    header form {
      margin-bottom: 16px; }
    header input {
      outline: none;
      text-align: center;
      width: 45%;
      border-radius: 10px;
      height: 30px; }
    header .nav {
      margin: 0;
      padding: 0; }
    header ul {
      text-align: center; }
    header li {
      display: inline-block;
      margin: 0;
      margin-left: -1px;
      padding: 6px;
      /* border-top: 1px solid #ccc; */
      /* border-left: 1px solid #ccc; */
      /* border-right: 1px solid #ccc; */
      transition: .1s all ease-in-out;
      font-size: 20px;
      width: 24%; }
    header li.highlight {
      background: #fff;
      color: #aa0000; }
    header li:hover {
      cursor: pointer;
      color: #aa0000; }
  div.postWrapper {
    width: 50%;
    position: relative;
    /* border-bottom: 1px solid lightgrey; */
    margin-bottom: 25px;
    display: inline-block;
    vertical-align: top; }
    div.postWrapper a.headline {
      display: inline-block;
      font-size: 20px;
      width: 90%;
      /* padding-left: 15px; */
      color: #333;
      font-weight: bold;
      text-decoration: none;
      text-align: left; }
    div.postWrapper a.headline:hover {
      text-decoration: underline;
      color: #AA0000; }
    div.postWrapper p {
      /* position: absolute; */
      margin-top: 0px;
      display: inline-block;
      width: 86%;
      text-align: left;
      right: 16%;
      top: 40%;
      font-size: 16px; }
    div.postWrapper img {
      box-shadow: 1px 1px 15px #333;
      width: 95%;
      transition: .2s all ease-in-out; }
    div.postWrapper img:hover {
      transform: scale(0.99);
      box-shadow: none; }
    div.postWrapper h1 {
      font-size: 30px;
      display: inline-block;
      width: 60%;
      padding-left: 15px;
      vertical-align: top;
      margin: 0;
      color: #000; }
    div.postWrapper h6 {
      /* position: absolute; */
      display: none;
      margin: 0;
      text-align: left;
      float: right;
      color: #555;
      padding-top: 8px;
      padding-left: 15px; }
    div.postWrapper h3 {
      display: none;
      margin-top: 5px;
      color: #000;
      font-weight: 400; }
    div.postWrapper .fa-heart-o {
      text-decoration: none;
      color: #000;
      top: 30px;
      right: 56px;
      transition: .2s all ease-in-out; }
    div.postWrapper .fa-heart-o:hover {
      transform: scale(1.4); }
  .heart, .arrow {
    display: none; }
  .inactive {
    display: none; } }

@media (min-width: 0px) and (max-width: 500px) {
  * {
    box-sizing: border-box; }
  .fa {
    align-self: center;
    display: block;
    color: #365C79; }
  .fa-heart-o {
    font-weight: bold; }
  .mainContainer {
    /* width: 70%; */
    /* margin: 15px auto; */
    overflow: hidden;
    position: relative;
    top: 12px;
    display: flex;
    flex-flow: column;
    /* justify-content: inherit; */
    /* align-items: stretch; */
    background-color: white;
    width: 100%; }
  header {
    display: flex;
    justify-content: space-around;
    position: fixed;
    background-color: white;
    box-shadow: none;
    border-bottom: 1px solid grey;
    z-index: 10000;
    margin-top: -15px;
    height: 73px;
    width: 100%; }
    header .fa {
      display: block; }
    header h3 {
      display: none; }
    header form {
      display: none; }
    header .nav {
      margin: 0;
      padding: 0; }
    header ul {
      display: none; }
    header li {
      display: none; }
    header li:hover {
      background-color: #fff;
      cursor: pointer;
      color: #aa0000; }
    header input {
      display: none; }
  div.postWrapper {
    width: 111%;
    /* position: relative; */
    border-bottom: 1px solid lightgrey;
    /* margin-bottom: 29px; */
    border-bottom: 1px solid #F2F2F2;
    margin-bottom: 1%;
    /* border-top: 1px solid #F2F2F2; */
    background-color: white;
    padding-top: 4%;
    margin-left: -5.5%;
    display: flex;
    flex-flow: column;
    /* justify-content: flex-start; */
    /* align-items: flex-end; */
    margin-bottom: 4%;
    padding-bottom: 5%;
    border-bottom: 1px solid #F2F2F2; }
    div.postWrapper .click {
      align-self: flex-end;
      /* flex: 4; */
      margin-right: 7%;
      text-decoration: none; }
    div.postWrapper a:hover {
      text-decoration: underline;
      color: #AA0000; }
    div.postWrapper img {
      width: 100%;
      box-shadow: none; }
    div.postWrapper h1 {
      font-size: 30px;
      display: inline-block;
      width: 100%;
      padding-left: 15px;
      vertical-align: top;
      margin: 0;
      color: #000;
      display: none; }
    div.postWrapper h6 {
      margin-top: -1%;
      margin-right: 1%;
      position: static;
      margin: none;
      text-align: none;
      float: none;
      color: #555;
      padding-top: none;
      padding-left: none; }
    div.postWrapper h3 {
      margin-top: 5px;
      color: #000;
      font-weight: 400;
      display: none; }
    div.postWrapper p {
      display: none; }
  div.postWrapper a.headline {
    display: inline-block;
    vertical-align: top;
    font-size: 20px;
    width: 99%;
    padding-left: 15px;
    color: #333;
    font-weight: bold;
    text-decoration: none; }
  div.postWrapper .fa-heart-o {
    text-decoration: none;
    color: red;
    position: static;
    /* top: 30px; */
    /* right: 56px; */
    transition: .2s all ease-in-out;
    font-size: 22px; }
  .inactive {
    display: none; }
  .section {
    /* background-color: blue; */
    /* margin-top: -24%; */ }
  ul {
    list-style: none;
    position: relative;
    top: 80px;
    display: flex;
    flex-flow: column;
    left: -23px; }
    ul li {
      display: flex;
      display: flex;
      padding: 3%;
      border-bottom: 1px solid grey; }
      ul li i {
        margin-right: 23px; } }
